.swiper-button-next,
.swiper-button-prev {
  color: #ffba08;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 30px;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 50px;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 50px;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: #999999;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: #ffba08;
}

@media screen and (max-width: 425px) {
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: 10px;
  }
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: 10px;
  }
}
